In [ ]:
# Surprise Test :

1) Use a dictionary comprehension to count the length of each word in a sentence. 
    St = ['hello','everyone','all','the','best']

2) Difference between covariance and correlation.

The difference between Covariance and Correlation is that Covariance only gives the direction of the relationship 
between two variables while Correlation, along with direction also indicates the magnitude or strength of the relationship
with values ranging between -1 and 1; where values close to -1 indicate a negative corelation, 0 indicate no correlation
and values close to 1 indicate a positive corelation.

3) What is CLT?

The central limit theorem states that when the data is getting larger, the distribution of its mean values will always
approximate a normal distribution, regardless of the data's original distribution.

4) Two main differences between set and dictionary.

differences between set and dictionary:
i) The objects in a Dictionary are in the form of key-value pairs which is not true in the case of a Set.
ii) Objects in a Dictionary have indices while a Set is unindexed.

5) Difference between linspace and arange.

* Arange allows us to provide a range and the step size for the list to be created.
* Linspace allows us to pass the number of steps in the list whose values will range between 0 and 1.

In [14]:
# Ex:
import numpy as np
a = np.arange(1,50,4)
a

array([ 1,  5,  9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49])

In [16]:
# Ex: 
b = np.linspace(0,1,20)
b

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

6) What is type 1 error?

Type 1 error is called False-Positive which is when an ML model wrongly predicts a negative value as positive.

7) Function to find outliers in the dataset? (lower limit and upper limit)

In [ ]:
def Outliers(data):
    data = np.array(data)
    Q1 = np.percentile(data, 25)
    Q3 = np.percentile(data, 75)
    IQR = Q3 - Q1
    upper_bound = Q3 + 1.5 * IQR
    lower_bound = Q1 - 1.5 * IQR
    outliers = np.where((data<=lower_bound) & (data>=upper_bound))
    return outliers

8) Statistical tests to check if data is normally distributed? (Name of the tests)

Tests to check if the data is normally distributed are :
i) Shapiro-Wilk test 
ii) Jarque-Bera test

9) List the assumptions of linear regression.

The assumptions of linear regression are:
i) Linearity : There must be a linear relationship i.e. correlation between independent and dependent variables. 
ii) Multicollinearity : There must be no correlation amongst the independent variables. 
iii) Normality of Residuals : The residual errors must be normally distributed along the best fit line. 
iv) Homoscedasticity : 
v) No Endogeneity : No relationship between errors and independent variables.

10) What is entrophy and information gain?

* Entrophy is a metric to measure the degree of disorder/variance amongst certain features. 
* Information gain tells us how much entrophy is reduced when we split the data using a certain feature. 
Information gain is used to decide the attribute which will form the root node in a decision tree.

11) EDA and build Random Forest using CV?

In [22]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [48]:
df = pd.read_csv(r"C:\Users\91702\Downloads\loan_data_set.csv")
df.sample(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
506,LP002624,Male,Yes,0,Graduate,No,20833,6667.0,480.0,360.0,NaN,Urban,Y
549,LP002777,Male,Yes,0,Graduate,No,2785,2016.0,110.0,360.0,1.0,Rural,Y
406,LP002308,Male,Yes,0,Not Graduate,No,2167,2400.0,115.0,360.0,1.0,Urban,Y
530,LP002717,Male,Yes,0,Graduate,No,1025,5500.0,216.0,360.0,NaN,Rural,Y
274,LP001896,Male,Yes,2,Graduate,No,3900,0.0,90.0,360.0,1.0,Semiurban,Y

In [28]:
df.shape

(614, 13)

In [30]:
df.drop(columns = 'Loan_ID', inplace = True)

In [32]:
df.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [34]:
df.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [ ]:
df['Loan_Amount_Term','LoanAmount'].fillna()